*{
    margin: 0;

}
body{
    margin: 0;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Seared Styles */
.width{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

/* indivisual styles */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
button{
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    color: white;
    background-color: #469065;
    border: none;
    padding: 16px;
}

.hero-container{
    background: url(./assets/hero-bg.png);
    background-size: cover;
    text-align: center;
    align-content: center;
    padding: 115px 0;
    color: white;
}
.hero-contant .early-access{
    color: #469065;
    background-color: white;
    border-radius: 10000px;
    padding: 8px 12px;
    display: inline-block;

}
.hero-contant h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-top: 16px;

    
}
.hero-contant h1 span{
    color: rgb(19, 110, 95);
    display: block;

    
}
.hero-contant div p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;

    
}
.hero-contant div button{
    margin: 32px 16px;
}