*{
    margin: 0;

}
body{
    margin: 0;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Seared Styles */
.width{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

/* indivisual styles */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
button{
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    color: white;
    background-color: #469165;
    border: none;
    padding: 16px;
    
}
button:hover{
    background-color: #3b7e57;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.hero-container{
    /* max-width: 1600px; */
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    text-align: center;
    align-content: center;
    padding: 115px 0;
    margin: 0 auto;
    color: white;
}
.hero-contant .early-access{
    color: #469165;
    background-color: white;
    border-radius: 10000px;
    padding: 8px 12px;
    display: inline-block;

}
.hero-contant h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-top: 16px;

    
}
.hero-contant h1 span{
    color: #30B868;
    display: block;

    
}
.hero-contant div p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;

    
}
.hero-contant div button{
    margin: 32px 16px;
}


.card-conteiner{
    background-color: #fbfbfb;
    padding: 0;
    text-align: center;

}
.section1-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-top: 55px;
}
.section1-heading p{
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
    line-height: 20px;
}
.card-content{
    display: flex;
    margin-top: 44px;
    gap: 24px;
}
.card-content .card{
    height: 300px;
    background-color: white;
    padding: 0 24px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.card-content .card div{
    background-color: #F95555;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    align-content: center;
    
}
.card-content .card h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    
}
.card-content .card p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
}

.brain{
    margin-top: 70px;
    display: flex;
    gap: 60px;
}
.brain-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.solution-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.brain-details .solution-content .solution{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    
}
.brain-details .solution-content h3{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;

}
.brain-details .solution-content p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;

}
.chack-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    color: #001931;
}
.fa-circle-check{
    color: #30B868;
}
.early-access{
    margin-top: 120px;
    background-color: #F7F6F2;
    border-radius: 12px;
    text-align: center;
    padding: 40px 0;
}
.early-access div h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.early-access div p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-top: 16px;
}
.early-access div button{
    margin-top: 24px;
}